language: python
python:
  - "3.3"
# command to install dependencies
install:
  - pip install flake8
  - pip install pydocstyle
# command to run tests
script:
  - flake8 .
  - pydocstyle . --add-ignore=D202
